language: objective-c
os: osx
osx_image: xcode7.2
install:
  - gem install xcpretty

xcode_workspace: Example/ColorPicker.xcworkspace
xcode_scheme: ColorPicker

script:
  - set -o pipefail
  - xcodebuild -workspace Example/ColorPicker.xcworkspace -scheme ColorPicker -configuration Release -destination "OS=9.2,name=iPhone 6S" -sdk "iphonesimulator9.2" -enableCodeCoverage YES ONLY_ACTIVE_ARCH=YES GCC_GENERATE_TEST_COVERAGE_FILES=YES clean build test | xcpretty

after_success:
- bash <(curl -s https://codecov.io/bash)
